@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
* {
  padding: 0;
  margin: 0;
}
body {
    height: 100vh;
    background: rgb(255,239,113);
    background: linear-gradient(0deg, rgba(255,239,113,1) 0%, rgba(45,255,249,1) 100%);
}
h1 {
  text-align: center;
  color: #e03169;
  padding-top: 2%;
  font-family: 'Delicious Handrawn', cursive;
  word-spacing: 0.25em;
}

#impt {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}
#ok {
  height: 3%;
  position: fixed;
  bottom: 2%;
  right: 2%;
  cursor: help;
}
button {
  position: absolute;
  font-weight: bolder;
  border-radius: 0.65em;
  color: #e9ff21;
  background-color: #00d5ff;
  padding: 0.4%;

  margin-top: 6%;
}

#b1 {
  padding: 0.6%;
  padding-left: 1.2%;
  padding-right: 1.2%;
  margin-left: 35%;
}

#b2{
    cursor: pointer;
    transition: 0.4s;
    margin-left: 50%;
}
#b2:hover {
      border-radius: 0.72em;
      background-color: #00d9dd;
      color: yellow;
}
